<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title>Callisto Laundary & Dry Cleaning</title>
    <style>
    .laundry-pricing-pricing-rupee {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 64px;
    }
    .laundry-pricing-pricing-rs{
      font-weight: bold;
      line-height: normal;
      font-size: 25px;
    }
    .laundry-pricing-pricing-weight{
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
    }
    </style>
  </head>
  <body>