      <!-- Nav Bar Starts -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbar-scrollspy">
        <!-- <a class="navbar-brand" href="#">Dhobi</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav-pills" style="padding-left: 20px;">
            <li class="nav-item">
              <a class="nav-link" style="color:rgb(4, 102, 29);font-size:18px; padding-left: 35px; font-family: cursive; font-weight: bold;" href="#home">CALLISTO</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" style="padding-right: 35px;">
            <li class="nav-item">
                <a class="nav-link" style="color:blue;font-size:18px; padding-right: 35px; font-family: sans-serif;" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:blue;font-size:18px; padding-right: 35px; font-family: sans-serif;" href="#price"><i class="fas fa-cart-plus fa-lg"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:blue;font-size:18px; padding-right: 35px; font-family: sans-serif;" href="#">Login</a>
              </li>
          </ul>
        </div>
      </nav>
    <!-- Nav bar ends -->
