<%- include ('partials/header') %> 
<%- include ('partials/nav') %> 
    
    <!-- Intoduction Starts -->
    <div data-spy="scroll" data-target="#navbar-scrollspy" data-offset="0">
    <div class="view" style="background-image: url('../public/cover-1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container"> 
        <br><br>
            <h1 align="center" style="color: black; font-family: sans-serif;" id="home">Welcome to Callisto Laundary & Dry Cleaning</h1>
            <h3 align="center" style="color: black; font-family: sans-serif;">One stop solution for all your Laundary & Dry Cleaning needs. </h3>
            <p align="center" style="color: black; font-family: cursive;">We provide hassle free quality service. Select one the several services, place an order and relax. 
              <br> We will collect the items from your door step and deliever them at your place with in no time.
              <br> We accept all pre and post methods of payment.</p>
              <div align="center">
                <button type="button" class="btn btn-primary btn-lg mr-3">Place Order</button>
                <button type="button" class="btn btn-primary btn-lg ml-3">Order Status</button>
              </div>
              <br><br>
      </div>
    </div>
    <!-- Intoduction ends -->
    <br> <br>
    <!-- Setps of work start -->
    <div class="container">
      <div class="card-deck">
        <div class="card text-white bg-primary mb-3 text-center rounded-circle">
          <div class="card-header"><h3>Step 1</h3></div>
          <div class="card-body">
            <h5 class="card-title">Place Order</h5>
            <p class="card-text">Select one of our services and place your order. You can pay now or at the time of delievery.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3 text-center rounded-circle">
          <div class="card-header"><h3>Step 2</h3></div>
          <div class="card-body">
            <h5 class="card-title">It's Our Turn</h5>
            <p class="card-text">Sit back and relax, It's our turn now, we will collect the order from your doorstep and process it.</p>
          </div>
        </div>
        <div class="card text-white bg-success mb-3 text-center rounded-circle">
          <div class="card-header"><h3>Step 3</h3></div>
          <div class="card-body">
            <h5 class="card-title">Order Delievered</h5>
            <p class="card-text">We will deliever your order with in no time, at your place. If you like our service, repeat the Steps..!!</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <!-- Setps of work end -->
    <!-- services starts -->
    <div class="container">
      <h1 align="center" style="color: black; font-family: sans-serif;" id="services">Our Services</h1>
      <br>
      <div class="card-deck">
        <div class="card ">
          <div class="card-header text-center" style="background-color: #00A8CC;" ><h5>Wash & Fold</h5></div>
          <div class="card-body text-center">
            <h6 class="card-title">Wearable Cloths (Shirts/Trousers etc.)</h6>
            <p> <span class="laundry-pricing-pricing-rs">&#8377 </span><span class="laundry-pricing-pricing-rupee">69</span><span class="laundry-pricing-pricing-weight"> per Kg</span></p>
            <br>
            <p><strong>Blanket | Bedsheet | Curtains</strong> <br/><span class="laundry-pricing-pricing-rs">&#8377 </span> <span class="laundry-pricing-pricing-rupee">149</span> <span>per Kg</span></p>
            <p><i class="far fa-clock"></i> 72 Hours</p>
            <p style="border-left: 5px solid red;">Min. Order Rs. 299</p>
          </div>
        </div>
        <div class="card ">
          <div class="card-header text-center" style="background-color: #00A8CC;"><h5>Wash & Iron</h5></div>
          <div class="card-body text-center">
            <h6 class="card-title">Wearable Cloths (Shirts/Trousers etc.)</h6>
            <p> <span class="laundry-pricing-pricing-rs">&#8377 </span><span class="laundry-pricing-pricing-rupee">99</span><span class="laundry-pricing-pricing-weight"> per Kg</span></p>
            <br>
            <p><strong>Blanket | Bedsheet | Curtains</strong> <br/><span class="laundry-pricing-pricing-rs">&#8377 </span> <span class="laundry-pricing-pricing-rupee">149</span> <span>per Kg</span></p>
            <p><i class="far fa-clock"></i> 72 Hours</p>
            <p style="border-left: 5px solid red;">Min. Order Rs. 299</p>
          </div>
        </div>
        <div class="card ">
          <div class="card-header text-center" style="background-color: #00A8CC;"><h5>Iron</h5></div>
          <div class="card-body  text-center">
            <h6 class="card-title">Wearable Cloths (Shirts/Trousers etc.)</h6>
            <p> <span class="laundry-pricing-pricing-rs">&#8377 </span><span class="laundry-pricing-pricing-rupee">39</span><span class="laundry-pricing-pricing-weight"> per Kg</span></p>
            <br><br>
            <div id="pricing">
              <h5><a href="#dry-price">View Price List</a></h5>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p><i class="far fa-clock"></i> 96 Hours</p>
            <p style="border-left: 5px solid red;">Min. Order Rs. 299</p>
          </div>
        </div>
        <div class="card text-center">  
          <div class="card-header" style="background-color: #00A8CC;"><h5>Dry Clean</h5></div>
          <div class="card-body  text-center">
            <h5 class="card-title">Starts From</h5>
            <p> <span class="laundry-pricing-pricing-rs">&#8377 </span><span class="laundry-pricing-pricing-rupee">79</span><br>Onwards</p>
            <br><br>
            <div id="pricing">
              <h5><a href="#dry-price">View Price List</a></h5>
            </div>
            <br>
            <br>
            <br>
            <br>
            <p><i class="far fa-clock"></i> 96 Hours</p>
            <p style="border-left: 5px solid red;">Min. Order Rs. 299</p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header" style="background-color: #00A8CC;"><h5>Express</h5></div>
          <div class="card-body text-center">
            <h5 class="card-title">Extra Charges</h5>
            <p> <span class="laundry-pricing-pricing-rs">&#8377</span><span class="laundry-pricing-pricing-rupee">200</span></p>
            <p>Express Dry Cleaning</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p><i class="far fa-clock"></i> 96 Hours</p>
            <p style="border-left: 5px solid red;">Min. Order Rs. 600</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- services ends -->
    <!-- Pricing list start -->
    <div class="container">
      <div data-spy="scroll" data-target="#pricing" data-offset="0">
      <h1 align="center" style="color: black; font-family: sans-serif;" id="dry-price">Dry Cleaning Price</h1>
      </div>
      <h4 align="center" style="color: black; font-family: sans-serif;"> <strong>Men Clothings</strong></h4>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h4 align="center" style="color: black; font-family: sans-serif;"> <strong>Women Clothings</strong></h4>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Lehenga (Plain)</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Lehenga (Plain)</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h4 align="center" style="color: black; font-family: sans-serif;"> <strong>Other Types of Clothings</strong></h4>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Lehenga (Plain)</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Curtains (Window)</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Curtains (Window)</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Lehenga (Plain)</th>
                <td>&#8377 80/piece</td>
              </tr>
              <tr>
                <th scope="row">Shirt</th>
                <td>&#8377 80/piece</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Pricing list end -->
  </div>
  <br><br>

<%- include ('partials/footer') %> 